<body [ngStyle]="{'background-color': backgroundColor, 'border': backgroundColor}">
  
  <button (click)="toggleBackground()">cambiar Fondo</button>

  <div>
    <button *ngIf="page > 1" (click)="getPage(page - 1)">Página Anterior</button>
    <button *ngFor="let page of getPageNumbers()" (click)="getPage(page)" [disabled]="page === currentPage">Página {{ page }}</button>
    <button *ngIf="page < 10" (click)="getPage(page + 1)">Página Siguiente</button>
    <span>Página Actual: {{ page }}</span>
  </div>

<h2>Characters</h2>
<table>
  <thead>
    <tr>
      <th>Nombre del Personaje</th>
      <th>Status</th>
      <th>Gender</th>
      <th>Imagen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let character of characters">
      <td><img [src]="character.image" width="100px" /></td>
      <td>{{ character.name }}</td>
      <td [ngStyle]="{'color': character.status === 'Alive' ? 'green' : 'red'}">{{ character.status }}</td>
      <td>{{ character.gender }}</td>
    </tr>
  </tbody>
</table>
</body>

<script defer src="script.js"></script>